<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Basic-Functions" data-toc-modified-id="Basic-Functions-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Basic Functions</a></span></li><li><span><a href="#Basic-Paths-Info" data-toc-modified-id="Basic-Paths-Info-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Basic Paths Info</a></span></li><li><span><a href="#Processing" data-toc-modified-id="Processing-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Processing</a></span><ul class="toc-item"><li><span><a href="#Get-Sample-Columns" data-toc-modified-id="Get-Sample-Columns-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Get Sample Columns</a></span></li><li><span><a href="#Combine-&amp;-Detect-Wrong-Format" data-toc-modified-id="Combine-&amp;-Detect-Wrong-Format-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Combine &amp; Detect Wrong Format</a></span></li><li><span><a href="#Check-Confirmation-Rate-(>75%)" data-toc-modified-id="Check-Confirmation-Rate-(>75%)-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Check Confirmation Rate (&gt;75%)</a></span></li><li><span><a href="#The-Final-Confirmed-SKUs" data-toc-modified-id="The-Final-Confirmed-SKUs-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>The Final Confirmed SKUs</a></span><ul class="toc-item"><li><span><a href="#Append-Last-Time-Failed-SKUs-(Optional)" data-toc-modified-id="Append-Last-Time-Failed-SKUs-(Optional)-3.4.1"><span class="toc-item-num">3.4.1&nbsp;&nbsp;</span>Append Last Time Failed SKUs (Optional)</a></span></li></ul></li></ul></li><li><span><a href="#Ready-to-Call-API" data-toc-modified-id="Ready-to-Call-API-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Ready to Call API</a></span><ul class="toc-item"><li><span><a href="#Append-Additional-SKUs-(Optional)" data-toc-modified-id="Append-Additional-SKUs-(Optional)-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Append Additional SKUs (Optional)</a></span></li><li><span><a href="#Save-Confirmed-SKUs-&amp;-Shops" data-toc-modified-id="Save-Confirmed-SKUs-&amp;-Shops-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Save Confirmed SKUs &amp; Shops</a></span></li><li><span><a href="#Calculate-Avg-Price-Drop-Pct" data-toc-modified-id="Calculate-Avg-Price-Drop-Pct-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Calculate Avg Price Drop Pct</a></span></li><li><span><a href="#Split-to-Several-Partitions" data-toc-modified-id="Split-to-Several-Partitions-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>Split to Several Partitions</a></span></li></ul></li><li><span><a href="#Check-Outputs" data-toc-modified-id="Check-Outputs-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Check Outputs</a></span><ul class="toc-item"><li><span><a href="#Get-Partition-Files" data-toc-modified-id="Get-Partition-Files-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Get Partition Files</a></span></li><li><span><a href="#Combination" data-toc-modified-id="Combination-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Combination</a></span></li><li><span><a href="#Save-Total-Failed-SKUs" data-toc-modified-id="Save-Total-Failed-SKUs-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Save Total Failed SKUs</a></span></li></ul></li></ul></div>

In [12]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

import os
import numpy as np
import pandas as pd
import datetime
import time
import math

import warnings
warnings.filterwarnings('ignore')
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

---

## Basic Functions

In [26]:
def get_all_files(folder_path, file_type = 'all', print_info = True):
    filepath_list = []
    
    if file_type == 'all':
        for _ in os.listdir(folder_path):
            if _.startswith('.') is False:
                filepath_list.append(os.path.join(folder_path, _))
    else:
        for _ in os.listdir(folder_path):
            if _.startswith('.') is False and _.split('.')[-1] == file_type:
                filepath_list.append(os.path.join(folder_path, _))

    filepath_list = list(set(filepath_list))

    if print_info == True:
        print('')
        print('===== Files Info =====')
        print('* Folder Path: %s' % folder_path)
        print('* File Type: %s' % file_type)
        print('* Total Files: {0}'.format(len(filepath_list)))
    else:
        pass
    
    return filepath_list


def combine_files(absPath_list, sample_columns, print_info = True):
    totalNum = len(absPath_list)
    
    combined_df = pd.DataFrame(columns = sample_columns)
    wrongFormatFiles = []
    count = 0
    for _ in absPath_list:
        temp_df = pd.read_excel(_, encoding = 'utf-8-sig')
        count += 1

        if temp_df.columns.to_list() == sample_columns:
            combined_df = pd.concat([combined_df, temp_df], ignore_index = True)

            progress_pct = str(int(count/totalNum*100)) + '%'
            print('\r* Processing: {0}'.format(progress_pct), end = '')

        else:
            filename = _.split('/')[-1]
            wrongFormatFiles.append(filename)
    
    if print_info == True:
        print('')
        print('===== Combine & Detect Info =====')
        print('* In Total {0} Files'.format(totalNum))
        print('* In Total {0} Wrong Format Files'.format(len(wrongFormatFiles)))
        print('* Wrong Format Filenames:\n{0}'.format(wrongFormatFiles))
    else:
        pass
    
    return combined_df

## Basic Paths Info

In [78]:
today = datetime.datetime.today().strftime('%F')

batchNum = 2

data_folder = '/Users/xu.zhu/Desktop/Data/PriceAdjustment/TH_ReductionPlan'
batch_folder = os.path.join(data_folder, 'Batch{0}'.format(batchNum))
confirmed_RawFolder = os.path.join(batch_folder, 'Confirmed_Raw')

## Processing

In [66]:
all_FileAbsPaths = get_all_files(confirmed_RawFolder, file_type = 'xlsx')

===== Files Info =====
* Folder Path: /Users/xu.zhu/Desktop/Data/PriceAdjustment/TH_ReductionPlan/Batch2/Confirmed_Raw
* File Type: xlsx
* Total Files: 77

### Get Sample Columns

In [67]:
sample_df = pd.read_excel(all_FileAbsPaths[0], encoding = 'utf-8-sig')
cols = sample_df.columns.to_list()

cols

['grass_region',
 'gp_account_owner',
 'gp_account_name',
 'username',
 'shopid',
 'itemid',
 'modelid',
 'listing_price',
 'target_price',
 'seller_input_item_weight_g',
 'old_hidden_fee',
 'new_hidden_fee',
 'confirmed']

### Combine & Detect Wrong Format

In [68]:
combinedRaw_df = combine_files(all_FileAbsPaths, cols)

* Processing: 100%
===== Combine & Detect Info =====
* In Total 77 Files
* In Total 0 Wrong Format Files
* Wrong Format Filenames:
[]

In [69]:
combinedRaw_df.dropna(subset=['shopid'], inplace = True)

combinedRaw_df.shape
len(set(combinedRaw_df.itemid.to_list()))
len(set(combinedRaw_df.shopid.to_list()))

combinedRaw_df.to_csv(os.path.join(confirmed_RawFolder, '{0}_CombinedRaw.csv'.format(today)),
                      encoding = 'utf-8-sig',
                      index = False)

(2227053, 13)

374523

166

### Check Confirmation Rate (>75%)

In [73]:
checkRate_df = combinedRaw_df.copy()

checkRate_df = checkRate_df[['gp_account_name', 'shopid', 'itemid', 'confirmed']]
checkRate_df.drop_duplicates(subset=['gp_account_name', 'shopid', 'itemid'], inplace = True)

checkRate_df['itemNum'] = 1
checkRate_df['confirmed_Y'] = checkRate_df['confirmed'].apply(lambda x: 1 if x == 'Y' else 0)
checkRate_df = checkRate_df[['gp_account_name', 'shopid', 'itemNum', 'confirmed_Y']]
checkRate_df

        gp_account_name     shopid  itemNum  confirmed_Y
0         深圳市森林五金家具有限公司  155094422        1            0
12        深圳市森林五金家具有限公司  155094422        1            0
48        深圳市森林五金家具有限公司  155094422        1            0
92        深圳市森林五金家具有限公司  155094422        1            0
102       深圳市森林五金家具有限公司  155094422        1            0
...                 ...        ...      ...          ...
2227277    深圳市利视安科技有限公司  148308615        1            1
2227307    深圳市利视安科技有限公司  148308615        1            1
2227347    深圳市利视安科技有限公司  148308615        1            1
2227371    深圳市利视安科技有限公司  148308615        1            1
2227403    深圳市利视安科技有限公司  148308615        1            1

[374523 rows x 4 columns]

In [74]:
checkRate_df = checkRate_df.groupby(['gp_account_name', 'shopid'])
checkRate_df = checkRate_df.sum()
checkRate_df['confirmed_rate'] = checkRate_df['confirmed_Y']/checkRate_df['itemNum']
checkRate_df

                               itemNum  confirmed_Y  confirmed_rate
gp_account_name   shopid
C&M Shop          36506912.0      1450         1443        0.995172
CHINATERA LIMITED 11398257.0      3788         3788        1.000000
                  11398704.0      4132         4132        1.000000
                  14400298.0      3013         3013        1.000000
                  18788536.0      3180         3180        1.000000
...                                ...          ...             ...
郑商鸿图（青岛）贸易有限公司    169837534.0     4618         4618        1.000000
                  188349769.0     4266         4266        1.000000
陕西玉苍建筑工程有限公司      134186261.0      583          436        0.747856
香港绿联有限公司          65302368.0       406          290        0.714286
香港重山电子商务有限公司      36638306.0       270          270        1.000000

[166 rows x 3 columns]

In [75]:
checkRate_df = checkRate_df.reset_index()
checkRate_df.to_csv(os.path.join(confirmed_RawFolder, '{0}_CombinedRaw_ConfirmationRate.csv'.format(today)),
                      encoding = 'utf-8-sig',
                      index = False)

### The Final Confirmed SKUs

In [79]:
confirmed_DoubleCheckFolder = os.path.join(batch_folder, 'Confirmed_DoubleCheck')
confirmed_RawFilePath = os.path.join(confirmed_RawFolder, '2020-08-13_CombinedRaw.csv')

In [81]:
confirmed_shops = pd.read_excel(os.path.join(confirmed_DoubleCheckFolder, 'Batch2_ConfirmedShops.xlsx'),
                                encoding='utf-8-sig')

confirmed_shops = list(set(confirmed_shops['Shopid'].to_list()))
len(confirmed_shops)

80

In [97]:
confirmed_df = combinedRaw_df.copy()
confirmed_df = confirmed_df[confirmed_df['shopid'].isin(confirmed_shops)]

confirmed_df.reset_index(drop = True, inplace = True)

len(set(confirmed_df.shopid.to_list()))
len(set(confirmed_df.itemid.to_list()))
confirmed_df.shape[0]


confirmed_df = confirmed_df[confirmed_df['confirmed'] == 'Y']
len(set(confirmed_df.shopid.to_list()))
len(set(confirmed_df.itemid.to_list()))
confirmed_df.shape[0]

confirmed_df

80

172317

1137093

80

165182

1094927

,grass_region,gp_account_owner,gp_account_name,username,shopid,itemid,modelid,listing_price,target_price,seller_input_item_weight_g,old_hidden_fee,new_hidden_fee,confirmed
10,TH,Christine Tang,cifang,hotwind.th,17446951,173514002,116919704,59,51,80,16,8,Y
11,TH,Christine Tang,cifang,hotwind.th,17446951,173514002,116919699,59,51,80,16,8,Y
12,TH,Christine Tang,cifang,hotwind.th,17446951,173514002,116919694,59,51,80,16,8,Y
13,TH,Christine Tang,cifang,hotwind.th,17446951,173514002,116919695,59,51,80,16,8,Y
14,TH,Christine Tang,cifang,hotwind.th,17446951,173514002,116919697,59,51,80,16,8,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1137088,TH,Boey Peng,深圳市利视安科技有限公司,iopcooem.th,148308615,7938767202,21035749981,35,31,40,8,4,Y
1137089,TH,Boey Peng,深圳市利视安科技有限公司,iopcooem.th,148308615,7938767202,21035750004,35,31,40,8,4,Y
1137090,TH,Boey Peng,深圳市利视安科技有限公司,iopcooem.th,148308615,7938767202,21035749990,35,31,40,8,4,Y
1137091,TH,Boey Peng,深圳市利视安科技有限公司,iopcooem.th,148308615,7938767202,21035749999,35,31,40,8,4,Y
1137092,TH,Boey Peng,深圳市利视安科技有限公司,iopcooem.th,148308615,7938767202,21035750001,35,31,40,8,4,Y

#### Append Last Time Failed SKUs (Optional)

In [98]:
rerun_folder = '/Users/xu.zhu/Desktop/Data/PriceAdjustment/TH_ReductionPlan/Batch1'

In [99]:
last_time_failed_sku = pd.read_csv(os.path.join(rerun_folder, 'Batch1NeedRerun.csv'), encoding = 'utf-8-sig')

last_time_failed_sku.shape
last_time_failed_sku.head(1)

(27948, 13)

,grass_region,gp_account_owner,gp_account_name,username,shopid,itemid,modelid,listing_price,target_price,seller_input_item_weight_g,old_hidden_fee,new_hidden_fee,confirmed
0,TH,Christine Tang,深圳市瀚昇宇电子商务有限公司,bestlucky.th,262040994,4136054709,0,81.0,73.0,80.0,16.0,8.0,Y

In [100]:
confirmed_df.columns.to_list() == last_time_failed_sku.columns.to_list()

True

In [101]:
confirmed_df = pd.concat([confirmed_df, last_time_failed_sku], ignore_index = True)

len(set(confirmed_df.shopid.to_list()))
len(set(confirmed_df.itemid.to_list()))
confirmed_df.shape[0]

confirmed_df.head(2)

319

172172

1122875

,grass_region,gp_account_owner,gp_account_name,username,shopid,itemid,modelid,listing_price,target_price,seller_input_item_weight_g,old_hidden_fee,new_hidden_fee,confirmed
0,TH,Christine Tang,cifang,hotwind.th,17446951,173514002,116919704,59,51,80,16,8,Y
1,TH,Christine Tang,cifang,hotwind.th,17446951,173514002,116919699,59,51,80,16,8,Y

## Ready to Call API

### Append Additional SKUs (Optional)

In [123]:
addtional_df = pd.read_excel(os.path.join(batch_folder, 'Batch2_Additional.xlsx'), encoding = 'utf-8-sig')
addtional_df.shape

(29591, 13)

In [127]:
addtional_df.columns.to_list() == confirmed_df.columns.to_list()

True

In [125]:
addtional_df = addtional_df[addtional_df['confirmed'] == 'Y']
addtional_df.shape

(23063, 13)

In [129]:
confirmed_df = pd.concat([confirmed_df, addtional_df], ignore_index = True)

### Save Confirmed SKUs & Shops

In [132]:
confirmed_df.shape

confirmed_df.head(3)

(1145938, 13)

,grass_region,gp_account_owner,gp_account_name,username,shopid,itemid,modelid,listing_price,target_price,seller_input_item_weight_g,old_hidden_fee,new_hidden_fee,confirmed
0,TH,Christine Tang,cifang,hotwind.th,17446951,173514002,116919704,59,51,80,16,8,Y
1,TH,Christine Tang,cifang,hotwind.th,17446951,173514002,116919699,59,51,80,16,8,Y
2,TH,Christine Tang,cifang,hotwind.th,17446951,173514002,116919694,59,51,80,16,8,Y

In [133]:
confirmed_df.to_csv(os.path.join(batch_folder, 'TotalConfirmedSKUs.csv'), encoding = 'utf-8-sig', index = False)

confirmed_df.shape
confirmed_df.head(5)

(1145938, 13)

,grass_region,gp_account_owner,gp_account_name,username,shopid,itemid,modelid,listing_price,target_price,seller_input_item_weight_g,old_hidden_fee,new_hidden_fee,confirmed
0,TH,Christine Tang,cifang,hotwind.th,17446951,173514002,116919704,59,51,80,16,8,Y
1,TH,Christine Tang,cifang,hotwind.th,17446951,173514002,116919699,59,51,80,16,8,Y
2,TH,Christine Tang,cifang,hotwind.th,17446951,173514002,116919694,59,51,80,16,8,Y
3,TH,Christine Tang,cifang,hotwind.th,17446951,173514002,116919695,59,51,80,16,8,Y
4,TH,Christine Tang,cifang,hotwind.th,17446951,173514002,116919697,59,51,80,16,8,Y

In [139]:
confirmed_shops = confirmed_df[['grass_region', 'shopid']]
confirmed_shops['shopid'] = confirmed_shops['shopid'].astype(int)

confirmed_shops.drop_duplicates(inplace = True)
confirmed_shops.to_csv(os.path.join(batch_folder, 'TotalConfirmedShops.csv'), encoding = 'utf-8-sig', index = False)

### Calculate Avg Price Drop Pct

In [108]:
total_models = confirmed_df.shape[0]
total_items = len(set(confirmed_df.itemid.to_list()))
total_shops = len(set(confirmed_df.shopid.to_list()))


calculated_df = confirmed_df.copy()
calculated_df['drop_pct'] = (calculated_df['listing_price'] - calculated_df['target_price'])/calculated_df['listing_price']

avg_drop_pct = str(round(calculated_df['drop_pct'].mean() * 100, 2)) + '%'

print('* Total Shops: {0}'.format(total_shops))
print('* Total SKUs: {0}'.format(total_items))
print('* Total Models: {0}'.format(total_models))
print('* Avg Price Drop Percentage: {0}'.format(avg_drop_pct))

* Total Shops: 319
* Total SKUs: 172172
* Total Models: 1122875
* Avg Drop Percentage: 10.85%

### Split to Several Partitions

In [113]:
totalNum = confirmed_df.shape[0]
cutoff = 200000
partitionNum = math.ceil(totalNum/cutoff)

totalNum
partitionNum

1122875

6

In [114]:
partition_folder = '/Users/xu.zhu/Desktop/Data/PriceAdjustment/TH_ReductionPlan/Partitions'

start = 0
count = 1
for i in range(partitionNum):
    end = count * cutoff
    small_df = confirmed_df.loc[start:end]
    small_df.to_csv(os.path.join(partition_folder, '{0}_ConfirmedSKU.csv'.format(count)),
                    encoding='utf-8-sig',
                    index=False)
    
    start = end + 1
    count += 1

print(count - 1)
small_df

6

,grass_region,gp_account_owner,gp_account_name,username,shopid,itemid,modelid,listing_price,target_price,seller_input_item_weight_g,old_hidden_fee,new_hidden_fee,confirmed
1000001,TH,Christine Tang,四衡商务信息咨询（上海）有限公司,goshopping.th,23386984,3836772293,19092661008,224,192,320,64,32,Y
1000002,TH,Christine Tang,四衡商务信息咨询（上海）有限公司,goshopping.th,23386984,3836772293,19092661007,224,192,320,64,32,Y
1000003,TH,Christine Tang,四衡商务信息咨询（上海）有限公司,goshopping.th,23386984,3836772293,19092661005,224,192,320,64,32,Y
1000004,TH,Christine Tang,四衡商务信息咨询（上海）有限公司,goshopping.th,23386984,3836772293,19092661010,224,192,320,64,32,Y
1000005,TH,Christine Tang,四衡商务信息咨询（上海）有限公司,goshopping.th,23386984,3836772293,19092661009,224,192,320,64,32,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1122870,TH,Johnny Chen,揭阳空港经济区炮台镇吴嘉文服装店,wujiawen013.th,252795408,5534690559,18237193761,248,228,200,40,20,Y
1122871,TH,Johnny Chen,揭阳空港经济区炮台镇吴嘉文服装店,wujiawen013.th,252795408,5534690559,18237193758,248,228,200,40,20,Y
1122872,TH,Johnny Chen,揭阳空港经济区炮台镇吴嘉文服装店,wujiawen013.th,252795408,5534690559,18237193760,248,228,200,40,20,Y
1122873,TH,Johnny Chen,揭阳空港经济区炮台镇吴嘉文服装店,wujiawen013.th,252795408,5534690559,18237193759,248,228,200,40,20,Y
1122874,TH,Johnny Chen,揭阳空港经济区炮台镇吴嘉文服装店,wujiawen013.th,252795408,6343002475,50351156907,348,318,300,60,30,Y

## Check Outputs

### Get Partition Files

In [179]:
resultFolder = os.path.join(batch_folder, 'Result')

failedFiles = get_all_files(resultFolder)

===== Files Info =====
* Folder Path: /Users/xu.zhu/Desktop/Data/PriceAdjustment/TH_ReductionPlan/Batch2/Result
* File Type: all
* Total Files: 7

### Combination

In [180]:
totalFailedSKU = pd.DataFrame()

for failedFile in failedFiles:
    _ = pd.read_csv(failedFile, encoding = 'utf-8-sig')
    totalFailedSKU = pd.concat([totalFailedSKU, _], ignore_index = True)

In [183]:
totalFailedSKU.head(3)

len(set(totalFailedSKU.shopid.to_list()))
len(set(totalFailedSKU.itemid.to_list()))
totalFailedSKU.shape[0]

     shopid      itemid      modelid                 step failed_reason
0  38322003  1879021202   3232954794        GetItemDetail  error server
1  38322003  2666058160   6197113295        GetItemDetail  error_server
2  38322003  3534114548  17891943875  AdjustOriginalPrice  error_banned

257

13264

54613

In [189]:
totalFailedReason = totalFailedSKU[['modelid', 'failed_reason']].groupby('failed_reason').count()
totalFailedReason

                                             modelid
failed_reason
Call API Failed                                 8729
Duplicated modelid 0                              17
Request Param Error                             2978
error server                                      17
error_auth                                        74
error_banned                                   33829
error_desc_length_min_limit                       96
error_edit_item_price_for_item_has_model           3
error_image_unavailable                           10
error_in_item_promotion_item_price_lock            1
error_model_price_range_too_high                1628
error_model_update_price_model_in_promotion      494
error_not_exists                                  39
error_server                                      64
error_title_length_max_limit                      29
error_title_length_min_limit                     245
error_unknown                                   5275
error_whole_sale_model_price_not_same           1084
error_whole_sale_price_setting_incorrect           1

### Save Total Failed SKUs

In [195]:
successRate = str(round((confirmed_df.shape[0] - totalFailedSKU.shape[0])/confirmed_df.shape[0] * 100, 2)) + '%'
successRate

'95.23%'

In [190]:
totalFailedSKU.to_csv(os.path.join(batch_folder, 'TotalFailedSKUs.csv'), encoding = 'utf-8-sig', index = False)

totalFailedReason.reset_index(inplace = True)
totalFailedReason.to_csv(os.path.join(batch_folder, 'TotalFailedReasons.csv'), encoding = 'utf-8-sig', index = False)