# Tutorial 5.1

@Date: Dec 27, 2019

---

* Data Address:
    * [Data 1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv)
    * [Data 2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv)
    
**Import Libraries**

In [1]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

## Import the Dataset

In [2]:
url_1 = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv'
url_2 = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv'
# data address

In [3]:
cars1 = pd.read_csv(url_1)
cars1.head(3)

cars2 = pd.read_csv(url_2)
cars2.head(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia

**Fix cars1**

In [11]:
cars1 = cars1.loc[:, 'mpg':'car']
cars1.head(3)

print('='*20)
print('cars1 shpae:', cars1.shape)
print('cars1 columns:', cars1.columns.to_list())
print('')
print('cars2 shpae:', cars2.shape)
print('cars2 columns:', cars2.columns.to_list())
print('='*20)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite

====================
cars1 shpae: (198, 9)
cars1 columns: ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model', 'origin', 'car']

cars2 shpae: (200, 9)
cars2 columns: ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model', 'origin', 'car']
====================

## Join cars1 and cars2 into a single DataFrame called cars

**<font color=red>Note the index</font>**

In [14]:
cars = cars1.append(cars2)
cars.shape

cars.head(3)
cars.tail(3)

(398, 9)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Add one column called owners

In [16]:
# Create a random number Series from 15000 to 73000
owners = np.random.randint(15000, high=73001, size=398, dtype='l')
len(owners)

cars['owners'] = owners
cars.head(2)

398

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,66471
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,68948

### Reset Index

In [24]:
cars.reset_index(drop=True, inplace=True)
cars.tail(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
395,32.0,4,135,84,2295,11.6,82,1,dodge rampage,54886
396,28.0,4,120,79,2625,18.6,82,1,ford ranger,18779
397,31.0,4,119,82,2720,19.4,82,1,chevy s-10,62598